<%- include('../partials/header', {title: 'Appointments', stylesheetName: 'styles', headerTitle: 'Appointments' }) %>
<%- include('../partials/patientNav') %>

<div class="medication-container">
  <div class="top-strip"></div> <!-- White strip before tabs -->
  <div class="tabs">
    <div
      class="tab <%= activeTab === 'upcoming' ? 'active' : '' %>"
      onclick="location.href='/appointments-patient?tab=upcoming'"
    >
    upcoming
    </div>
    <div
      class="tab <%= activeTab === 'missed' ? 'active' : '' %>"
      onclick="location.href='/appointments-patient?tab=missed'"
    >
    missed
    </div>
  </div>

  <div class="content-body">
    <% if (activeTab === 'upcoming') { %>
    <div class="table-wrapper">
      <table>
        <thead>
          <tr>
            <th>date</th>
            <th>time</th>
            <th>doctor</th>
            <th>room</th>
            <th>floor</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>22/9/18</td>
            <td>17:00</td>
            <td>name</td>
            <td>c204</td>
            <td>second</td>
            <td class="pay-btn-cell"><button class="pay-btn">cancel</button></td>
            <td class="pay-btn-cell"><button class="pay-btn">reschedual</button></td>
          </tr>
          <tr>
            <td>22/9/18</td>
            <td>17:00</td>
            <td>name</td>
            <td>c204</td>
            <td>second</td>
            <td class="pay-btn-cell"><button class="pay-btn">cancel</button></td>
            <td class="pay-btn-cell"><button class="pay-btn">reschedual</button></td>
          </tr>
          
          <!-- Add more rows here -->
        </tbody>
      </table>
    </div>
    <% } else if (activeTab === 'missed') { %>
    <div class="table-wrapper">
      <table>
        <tr>
            <th>date</th>
            <th>time</th>
            <th>doctor</th>
            <th>room</th>
            <th>floor</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>22/9/18</td>
            <td>17:00</td>
            <td>name</td>
            <td>c204</td>
            <td>second</td>
            <td class="pay-btn-cell"><button class="pay-btn">reschedual</button></td>
          </tr>
        </tbody>
      </table>
    </div>
    <% } %>
  </div>
  
</div>

<script src="js/main.js"></script>
<%- include('../partials/footer') %>
