<%- include('../partials/header', {title: 'Doctor Profile', stylesheetName:
'styles', headerTitle: 'Doctor Profile' }) %>
<%- include('../partials/patientNav') %>

<div class="container-patient">
    <a href="/addAppointment" class="back-btn">
        <i class="fas fa-arrow-left"></i> Back to Appointment
    </a>
    
    <div class="profile-section">
      <div class="profile-info">
        <img
          src="../images/placeholder-avatar.png"
          alt="Patient Avatar"
          class="avatar"
        />
        <div class="profile-info-detail">
          <h2><%= doctor.FName %> <%= doctor.LName %></h2>
          <p><%= doctor.Age %> | <%= doctor.Gender %></p>
        </div>
      </div>
      <div class="details">
        <div class="left-details">
          <div class="info-item">
            <strong>Department:</strong> <%= doctor.DepartmentName %>
          </div>
          <p class="section-title">study</p>
          <div class="info-item">
            <i class="fa-solid fa-graduation-cap"></i>
            <strong>degree:</strong> <%= doctor.Degree %>
          </div>
          <div class="info-item">
            <i class="fa fa-building"></i>
            <strong>university:</strong><%= doctor.University %>
          </div>
          <div class="info-item">
            <i class="fa-solid fa-briefcase"></i>
            <strong>experiences:&nbsp;&nbsp;&nbsp;</strong>
            <ul>
              <% doctor.Experiences.forEach(experience => { %>
                <li><%= experience %></li>
              <% }) %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%- include('../partials/footer') %>